
<form class="top-form" method="GET" action="/form/add">
    <button  class="top-btn" type="submit">Add word</button>
</form>

<table>
    <!--            <tr>-->
    <!--                <th>-->
    <!--                    Word-->
    <!--                </th>-->

    <!--                <td class="links"><a href="">Delete</a></td>-->
    <!--                <td class="links"> <a href="">Add</a></td>-->

    <!--            </tr>-->
    <tbody>
    {{#each freshDb}}
        <tr>
            <th>
                {{this.serial}}
                {{this.word}}
            </th>
           <td><a class="btn btn-outline-success btn-lg large-button" href="http://localhost:3000/edit/{{this.id}}">Edit</a></td>
            <td> <a href="/{{this.id}}"><button class="btn">Details</button></a></td>
            <td class="links"><form method="POST" action="/deleted/{{this.id}}?_method=DELETE">  <button type="submit" class="btn">Delete</button> </form></td>


            <td class="links"><form method="GET" action="/form/add">
                <button type="submit" class="btn btn-outline-success btn-lg large-button" >Add word</button>
            </form></td>
            <td class="links"><form method="GET" action="/form/addSentence/{{this.id}}">
                <button type="submit" class="btn btn-outline-success btn-lg large-button" >Add Sentence</button>
            </form></td>

        </tr>

    {{/each}}e


    </tbody>


</table>

