<div class="container">
    <h2></h2>

</div>
<div class="container one-customer">
    <table>
        <tbody>
        <tr>
            <th>

                {{obj.serial}}
                {{obj.word}}
            </th>

        </tr>
        {{#each obj.sentences}}
            <tr>
                <th>
                    Sentence
                    {{this}}
                </th>
            </tr>



        {{/each}}

        </tbody>
    </table>
    <a class="btn btn-success btn-lg large-button" href="/">Return </a>
    <a class="btn btn-outline-success btn-lg large-button" href="http://localhost:3000/edit/{{obj.id}}">Edit</a>
    <a class="btn btn-outline-success btn-lg large-button" href="http://localhost:3000/delete/AllSentences/{{obj.id}}">Delete Sentences</a>
</div>