<div class="container">
    <h2></h2>
</div>
<div class="container one-customer">
    <table>
        <tbody>
        <tr>
            <th>

                {{obj.serial}}
                {{obj.word}}
            </th>

        </tr>
        <tr>
           <th>
               {{log obj.sentences }}
               Sentence NR 1
                {{obj.sentences}}
            </th>
        </tr>

        </tbody>
    </table>
    <a class="btn btn-success btn-lg large-button" href="/">Return </a>
    <a class="btn btn-outline-success btn-lg large-button" href="http://localhost:3000/edit/{{obj.id}}">Edytuj!</a>
</div>